 .calWrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   border-bottom: 1.5px solid rgba(113, 61, 0, 0.5);
 }

 .headerWrapper{
   height: 30px;
   display: flex;
   align-items: center;
 }

 .calHeaderBar{
   display: flex;
   flex-direction: row;
   gap: 40px;
 }
 .calHeaderBar .buttonControl{
    color: var(--point-brown-color); opacity: 70%;
 }
 .dateText h4{
    font-size: 16px;
    color: var(--point-brown-color);
    font-family: 'KyoboHand';
 }

 .wrapper .bodyWrapper{
   display: flex;
   flex-direction: column;
 }

.bodyWrapper .weeks{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px;
 }

 .days{
   width: 31px;
   height: 31px;
   border: none;
   color: var(--point-brown-color); opacity: 70%;
   font-size: 14px;
   background-color: transparent;
 }

 .emotionIcons{
  height: 31px;
  width: 31px;
 }
 .emotionIcons:hover {
  opacity: 0.85; 
  cursor: pointer;
}